// Fonts
@import './fonts/fonts';

// Base
@import './base/reset';

// Sass-utils
@import './sass-utils/variables';
@import './sass-utils/disable-mob-hover';
@import './sass-utils/global';

// UI
// UI / Buttons
@import '../ui/buttons/epic/epic-btn.scss';
@import '../ui/buttons/shiny/shiny-btn.scss';
@import '../ui/buttons/ripple/ripple-btn.scss';
@import '../ui/bounceText/v-text.scss';
@import '../ui/card/card-neon-stick/card-neon-stick.scss';

// UI / DROPDOWN
@import '../ui/dropdown/dropdown.scss';

//Components
@import './components/overlay';
@import './components/burger';

// Layouts
@import './layout/header';
@import './layout/footer';
@import './layout/hero';
@import './layout/founder';
@import './layout/special';
@import './layout/services';

.main {
  position: relative;
  z-index: 2;
}

.blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: 0;
}
.blur {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

.gradient-text {
  background: $text-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
