// Fonts
@import './fonts/fonts';

// Base
@import './base/reset';

// Sass-utils
@import './sass-utils/variables';
@import './sass-utils/disable-mob-hover';
@import './sass-utils/global';

// UI
// UI / Buttons
@import '../ui/buttons/shiny/shiny-btn.scss';
@import '../ui/bounceText/v-text.scss';

// UI / DROPDOWN
@import '../ui/dropdown/dropdown.scss';

//Components
@import './components/overlay';
@import './components/burger';

// Layouts
@import './layout/header';
@import './layout/footer';
@import './layout/hero';
@import './layout/founder';
@import './layout/special';
@import './layout/services';
@import './layout/study';
@import './layout/risk';
@import './layout/design';
@import './layout/help';
@import './layout/clients';
@import './layout/experience';
@import './layout/work';
@import './layout/chat';
@import './layout/make';

.main {
  position: relative;
  z-index: 2;
}

.blob {
  background-color: white;
  height: 28vmax;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: 0;
}
.blur {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

.gradient-text {
  background: $text-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.step-overtitle {
  margin-bottom: 24px;
  font-size: 16px;
  font-family: 'Neue Machina';
  font-weight: 400;
  line-height: 100%;
  opacity: 0.7;
}

.step-title {
  margin-bottom: 24px;
  font-size: 26px;
  font-family: 'Neue Machina';
  font-weight: 400;
  line-height: 137.5%;
  letter-spacing: -0.65px;
  text-transform: uppercase;
  color: $light;
}

.step-text {
  color: $light;
  font-size: 18px;
  line-height: 150%;
  opacity: 0.6;
}

.video-card {
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 6;
  right: 10px;
  top: 58%;
  width: 250px;
  height: 160px;
  border-radius: 8px;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, #9a07d5 0%, #08e2ac 100%);
    opacity: 0.5;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 7;
  }

  &__btn {
    position: relative;
    z-index: 7;
    margin-bottom: 5px;
  }

  &__text {
    position: relative;
    z-index: 7;
    max-width: 150px;
    text-align: center;
    font-size: 16px;
    font-family: 'Neue Machina';
    font-weight: 400;
    line-height: 100%;
    color: $light;
  }
}
