<section class="clients">
  <div class="clients__container">
    <div class="clients__runner">
      <div class="clients__title title">нашы клиенты</div>
      <div class="clients__items">
        <div class="clients__item">
          <img
            width="187"
            height="57"
            src="assets/img/content/clients1.png"
            alt="clients"
          />
        </div>
        <div class="clients__item">
          <img
            width="187"
            height="57"
            src="assets/img/content/clients2.png"
            alt="clients"
          />
        </div>
        <div class="clients__item">
          <img
            width="187"
            height="57"
            src="assets/img/content/clients3.png"
            alt="clients"
          />
        </div>
      </div>
    </div>
  </div>
</section>
