<section class="clients">
  <div class="clients__container">
    <div class="clients__runner">
      <div class="clients__item">
        <h5 class="clients__title title">НАШИ КЛИЕНТЫ</h5>
      </div>
      <div class="clients__item">
        <img src="assets/img/content/clients1.png" alt="clients" />
      </div>
      <div class="clients__item">
        <img src="assets/img/content/clients2.png" alt="clients" />
      </div>
      <div class="clients__item">
        <img src="assets/img/content/clients3.png" alt="clients" />
      </div>
    </div>
  </div>
</section>
