<section class="design">
  <div class="design__container">
    <div class="design__info">
      <div class="design__overTitle gradient-text step-overtitle">
        Определение дизайн-подхода
      </div>
      <h3 class="design__title step-title">
        Разработка спецификации требований к информационной системе
      </h3>
      <p class="design__text step-text">
        После того, как мы получили модель будущей ИС, необходимо подготовить
        требования разработки. Мы разрабатываем документ, который описывает
        дизайн-подход к разработке ИС и содержит мотивы, формирующие требования
        к системе, а не просто техническое задание
      </p>
    </div>
  </div>
</section>
