<section class="experience">
  <div class="experience__container">
    <div class="experience__info">
      <div class="experience__overTitle gradient-text step-overtitle">
        Наш опыт
      </div>
      <h2 class="experience__title title">Внедрение наработок в ваш бизнес</h2>
      <p class="experience__text">
        За многолетний опыт работы в отрасли мы обросли своими продуктами,
        которые продвигаем на рынке и готовы обсудить сотрудничество по их
        внедрению 
      </p>
    </div>
    <ul class="experience__items">
      <li class="experience__item">Международная мультивендорная платформа</li>
      <li class="experience__item">
        Редактор для проектирования информационных систем по методологии IDEF
      </li>
      <li class="experience__item">Система управления бизнесом (BI)</li>
    </ul>
  </div>
</section>
