<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo">
      <img src="./assets/img/icons/logo.svg" alt="Logo" />
    </a>
    <div class="header__navigation">
      <nav class="nav header__nav">
        <ul class="nav__list">
          <li>
            <a href="#" class="nav__link duplicate">
              <div class="v-text v-text-1">
                <span>У</span>
                <span>с</span>
                <span>л</span>
                <span>у</span>
                <span>г</span>
                <span>и</span>
              </div>
              <div class="v-text v-text-2">
                <span>У</span>
                <span>с</span>
                <span>л</span>
                <span>у</span>
                <span>г</span>
                <span>и</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="nav__link duplicate">
              <div class="v-text v-text-1">
                <span>К</span>
                <span>е</span>
                <span>й</span>
                <span>с</span>
                <span>ы</span>
              </div>
              <div class="v-text v-text-2">
                <span>К</span>
                <span>е</span>
                <span>й</span>
                <span>с</span>
                <span>ы</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="nav__link">RUS</a>
          </li>
          <li>
            <button class="header__btn shiny-btn">
              <span>Видео-версия сайта</span>
              <svg
                width="12"
                height="14"
                viewBox="0 0 12 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  opacity="0.6"
                  d="M11.1212 5.39086C12.2929 6.09674 12.2929 7.90323 11.1212 8.60912L2.56931 13.7602C1.42004 14.4525 0 13.5632 0 12.1511V1.84887C0 0.436862 1.42004 -0.45247 2.56931 0.239782L11.1212 5.39086Z"
                  fill="white"
                />
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    </div>
    <div class="burger">
      <span></span>
    </div>
  </div>
</header>
