<section class="help">
  <div class="help__container step-container">
    <div class="help__overTitle gradient-text step-overtitle">
      Помощь в организации
    </div>
    <h3 class="help__title step-title">Программирование</h3>
    <p class="help__text step-text">
      Если вы желаете реализовать проект, мы готовы помочь вам и организовать
      процесс разработки - собрать команду, выстроить работу с подрядчиками. В
      данном контексте работы всю ответственность за выполнение работ мы берем
      на себя
    </p>
    <button class="btn epic-btn">
      <span>Хочу эффективный бизнес</span>
      <span>Хочу эффективный бизнес</span>
    </button>
  </div>
</section>
