<section class="hero">
  <div class="hero__container">
    <h1 class="hero__title title">
      исследование и&nbsp;развитие цифровых инициатив
    </h1>
    <p class="hero__text">
      Каждый бизнес хочет стать эффективнее. Мы&nbsp;помогаем добиться
      результата с&nbsp;минимальными рисками и&nbsp;расходами
    </p>
    <button class="btn epic-btn">
      <span>Хочу эффективный бизнес</span>
      <span>Хочу эффективный бизнес</span>
    </button>
  </div>
  <canvas class="hero__model" id="hero__model"></canvas>
</section>
