<section class="risk">
  <div class="risk__container step-container">
    <div class="gradient-text step-overtitle">Минимизация рисков</div>
    <h3 class="risk__title step-title">Проектирование информационных систем</h3>
    <p class="risk__text step-text">
      Проектирование информационной системы необходимо для минимизации рисков и
      ускорения процесса разработки программного обеспечения. Для достижение
      результата мы используем научный подход и лучшие мировые практики
    </p>
  </div>
</section>
