<section class="services">
  <div class="container">
    <div class="services__container">
      <h4 class="services__title gradient-text-2">Наши услуги</h4>
      <p class="services__text text-white-gradient">Чем мы можем вам помочь?</p>
      <div class="services__cards">
        <div class="card gradient-border">
          <div class="card__text text-white-gradient">
            Исследование среды для внедрения цифровых продуктов
          </div>
        </div>
        <div class="card gradient-border">
          <div class="card__text text-white-gradient">
            Проектирование будущей информационной системы
          </div>
        </div>
        <div class="card gradient-border">
          <div class="card__text text-white-gradient">
            Разработка спецификации требований к информационной системе 
          </div>
        </div>
        <div class="card gradient-border">
          <div class="card__text text-white-gradient">
            Разработка информационной системы
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
