<section class="services">
  <div class="services__container">
    <h4 class="services__title gradient-text">Наши услуги</h4>
    <p class="services__text">Чем мы можем вам помочь?</p>
    <div class="services__cards">
      <div class="card card-neon-stick">
        <div class="card__text">
          Исследование среды для внедрения цифровых продуктов
        </div>
      </div>
      <div class="card card-neon-stick">
        <div class="card__text">
          Проектирование будущей информационной системы
        </div>
      </div>
      <div class="card card-neon-stick">
        <div class="card__text">
          Разработка спецификации требований к информационной системе 
        </div>
      </div>
      <div class="card card-neon-stick">
        <div class="card__text">Разработка информационной системы</div>
      </div>
    </div>
  </div>
</section>
