<section class="special">
  <div class="special__container">
    <h2 class="special__title">
      Найдем <span class="gradient-text">особенный подход</span> к вашему
      проекту
    </h2>
    <p class="special__text">
      Мы&nbsp;пропагандируем data-driven концепцию&nbsp;&mdash; это значит что
      мы&nbsp;планируем, собираем данные и&nbsp;принимаем решения
      на&nbsp;их&nbsp;основе.
    </p>
    <p class="special__text">
      При реализации проекта мы&nbsp;используем спиральный подход. Это означает,
      что мы&nbsp;двигаемся постепенно к&nbsp;намеченной цели, определяя этапы,
      цели и&nbsp;критерии успеха.
    </p>
    <p class="special__text">
      Это позволяет нам эффективно использовать бюджет и&nbsp;получить
      необходимую гибкость, чтобы внести изменения в&nbsp;любой момент.
    </p>
    <div class="special__model" id="special__model"></div>
  </div>
</section>
