<section class="study">
  <div class="study__container container">
    <div class="step-container">
      <h4 class="study__overTitle gradient-text-2 step-overtitle">
        Подробное изучение
      </h4>
      <h3 class="study__title step-title text-white-gradient">
        Исследование среды для внедрения цифровых продуктов
      </h3>
      <p class="study__text step-text">
        Трансформация бизнеса, запуск стартапа или новая инициатива требуют
        проведения исследования, на&nbsp;основе которого будут приниматься
        дальнейшие решения
      </p>
    </div>
  </div>
</section>
