<section class="study">
  <div class="study__container">
    <div class="step-container">
      <div class="study__overTitle gradient-text step-overtitle">
        Подробное изучение
      </div>
      <h3 class="study__title step-title">
        Исследование среды для внедрения цифровых продуктов
      </h3>
      <p class="study__text step-text">
        Трансформация бизнеса, запуск стартапа или новая инициатива требуют
        проведения исследования, на&nbsp;основе которого будут приниматься
        дальнейшие решения
      </p>
    </div>
  </div>
</section>
