<section class="work">
  <div class="work__container">
    <div class="work__info">
      <div class="work__overtitle step-overtitle gradient-text">
        Принципы работы
      </div>
      <h2 class="work__title title">бережливое производство и Open source</h2>
      <p class="work__text">
        Мы ценим ваше время и готовы использовать уже внедренные системы в вашей
        компании или применять мощные open-source решения, которые позволят
        сконцентрироваться на целях.
      </p>
      <div class="work__subtext">Библиотеки, с которыми мы работаем:</div>
    </div>
    <ul class="work__items libraries">
      <li class="work__item libraries__item">
        <img src="assets/img/content/odoo.png" alt="libraries" />
        <div class="libraries__name">Odoo</div>
      </li>
      <li class="work__item libraries__item">
        <img src="assets/img/content/react.png" alt="libraries" />
        <div class="libraries__name">Reactjs</div>
      </li>
      <li class="work__item libraries__item">
        <img src="assets/img/content/django.png" alt="libraries" />
        <div class="libraries__name">Django</div>
      </li>
      <li class="work__item libraries__item">
        <img src="assets/img/content/flutter.png" alt="libraries" />
        <div class="libraries__name">Flutter</div>
      </li>
      <li class="work__item libraries__item">
        <img src="assets/img/content/grpc.png" alt="libraries" />
        <div class="libraries__name">Gprc</div>
      </li>
      <li class="work__item libraries__item">
        <img src="assets/img/content/camunda.png" alt="libraries" />
        <div class="libraries__name">Camunda</div>
      </li>
    </ul>
  </div>
</section>
