// Body
body {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Wrapper
.wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  overflow: hidden;
  background: $bg-navy-blue;
}

// Container
.container {
  margin: 0 auto;

  max-width: 970px;
  padding: 0 15px;
}

// SF Pro Text Regular
// Neue Machina
// Inter

.title {
  font-family: PP Neue Machina;
  text-transform: uppercase;
}
