// Body
body {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Wrapper
.wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  overflow: hidden;
  background: $bg-navy-blue;
}

// Container
.container {
  margin: 0 auto;

  max-width: 970px;
  padding: 0 15px;
}

// SF Pro Text Regular
// Neue Machina
// Inter

.title {
  font-family: 'Neue Machina';
  font-weight: 400;
  text-transform: uppercase;
}

.btn {
  padding: 20px 48px;
  color: $light;
  background: linear-gradient(135deg, #000e2a 0%, #000020 100%);
  border-radius: 12px;

  width: max-content;
  cursor: pointer;
  user-select: none;

  @include hover {
    &::after {
      opacity: 1;
    }
  }
}

.gradient-border {
  position: relative;
  @include hover {
    &::before {
      opacity: 1;
    }
  }
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: inherit;
    inset: -2px;
    background: linear-gradient(135deg, #9a07d5 0%, #08e2ac 100%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
}
