// Body
body {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Wrapper
.wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  overflow: hidden;
  background: $bg-navy-blue;
}

// Container
.container {
  margin: 0 auto;

  max-width: 970px;
  padding: 0 15px;
}

// SF Pro Text Regular
// Neue Machina
// Inter

.title {
  font-family: 'Neue Machina';
  font-weight: 400;
  text-transform: uppercase;
}

.btn {
  position: relative;
  z-index: 1;

  cursor: pointer;
  padding: 20px 48px;

  color: $light;
  border-radius: 12px;
  opacity: 0.8;
  background: $bg-blue-button-cards;
  box-shadow: 0px 0px 56px 0px rgba(107, 210, 164, 0.24);
  transition: opacity 0.2s ease-in-out;

  @include hover {
    opacity: 1;
  }

  &:active {
    scale: 0.97;
  }
}
