//Burger Colors
$burgerColor: #000;
$burgerActiveColor: #000;

// Main Colors
$primary: #995151;
$secondary: #ef2314;

$bg-navy-blue: linear-gradient(135deg, #000115 0%, #000113 100%);
$bg-blue-button-cards: linear-gradient(135deg, #000e2a 0%, #000020 100%);

// extra colors
$apricot: #fbceb1;
$light: #fff;
$dark: #222;

// Media

$medium: 992px;
$large: 1366px;
$tablet: 768px;
$big: 1920;

// InFo

// Most Common Desktop Screen Resolution Sizes Worldwide
// 1920×1080 – 23.22%
// 1366×768 – 16.28%
// 1536×864 – 10.76%
// 1280×720 – 6.07%
// 1440×900 – 5.93%
// 1600×900 – 3.22%

// Most Common Tablet Screen Resolution Sizes Worldwide
// 768×1024 – 27.95%
// 810×1080 – 8.26%
// 800×1280 – 7.62%
// 1280×800 – 6.77%
// 601×962 – 4.66%
// 820×1180 – 3.42%

// Most Common Mobile Screen Resolution Sizes Worldwide
// 360×800 – 11.62%
// 390×844 – 6.41%
// 414×896 – 5.65%
// 412×915 – 5.47%
// 393×873 – 4.77%
// 360×780 – 4.26%
// 360×640 – 4.07%
