<section class="design">
	<div class="design__container container">
		<div class="step-container">
			<div class="design__overTitle gradient-text-2 step-overtitle">
				Определение дизайн-подхода
			</div>
			<h3 class="design__title step-title text-white-gradient">
				Разработка спецификации требований к информационной системе
			</h3>
			<p class="design__text step-text">
				После того, как мы&nbsp;получили модель будущей&nbsp;ИС, необходимо
				подготовить требования разработки. Мы&nbsp;разрабатываем документ,
				который описывает дизайн-подход к&nbsp;разработке&nbsp;ИС
				и&nbsp;содержит мотивы, формирующие требования к&nbsp;системе,
				а&nbsp;не&nbsp;просто техническое задание
			</p>
		</div>
		<img
			width="516"
			height="308"
			src="assets/img/infografic-3.svg"
			alt="info"
		/>
	</div>
</section>
