<section class="experience">
  <div class="container">
    <div class="experience__info">
      <div class="experience__overTitle gradient-text-2 step-overtitle">
        Наш опыт
      </div>
      <h2 class="experience__title title text-white-gradient">
        Внедрение наработок в ваш бизнес
      </h2>
      <p class="experience__text">
        За многолетний опыт работы в отрасли мы обросли своими продуктами,
        которые продвигаем на рынке и готовы обсудить сотрудничество по их
        внедрению 
      </p>
    </div>
    <ul class="experience__items">
      <li class="experience__item text-white-gradient">
        Международная мультивендорная платформа
      </li>
      <li class="experience__item text-white-gradient">
        Редактор для проектирования информационных систем по методологии IDEF
      </li>
      <li class="experience__item text-white-gradient">
        Система управления бизнесом (BI)
      </li>
    </ul>
  </div>
</section>
