.message {
  width: 100%;
  padding-bottom: 15px;

  &__container {
    width: 100%;
    padding: 0 15px;
  }

  &__img {
    flex-shrink: 0;
    width: 52px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__type {
    position: relative;
    margin-top: 33px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.06);
    padding: 20px 105px;
    min-height: 140px;
    padding-right: 145px;
  }

  &__attach {
    position: absolute;
    cursor: pointer;
    left: 20px;
    top: 20px;
  }

  &__field {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: $light;
    &::placeholder {
      color: #8a8a8a;
    }
    font-size: 24px;
    font-family: 'SF Pro Text';
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  &__emoji {
    cursor: pointer;
  }

  &__mic {
    cursor: pointer;
  }
}
.chatbox {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.chat {
  width: max-content;
}
.site-chat {
  display: flex;
  align-items: flex-end;
  gap: 9px;
  .msg {
    background: rgba(255, 255, 255, 0.1);
  }
}
.msg-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.msg {
  display: block;
  border-radius: 21px 21px 21px 6px;
  width: max-content;
  padding: 24px;
  display: grid;
  place-items: center;

  color: $light;
  font-size: 21px;
  font-family: 'SF Pro Text';
  font-weight: 400;
}

.user-chat {
  margin-left: auto;

  border-radius: 20px 21px 6px 20px;
  opacity: 0.8;
  background: linear-gradient(135deg, #15f3c0 0%, #09022b 100%);
  overflow: hidden;
}
