.clients {
  padding-top: 250px;
  @media screen and (max-width: $tablet) {
    padding-top: 180px;
  }
  &.eng-clients {
    padding-top: 340px;
  }
  &__container {
    display: grid;
    place-items: center;
    padding: 24px 0;
    background: $bg-white;
    @media screen and (max-width: $tablet) {
      background: none;
    }
  }

  &__runner {
    display: flex;
    align-items: center;
    gap: 70px;
    overflow: auto;
    @media screen and (max-width: $tablet) {
      flex-direction: column;
      padding-left: 0;
      gap: 64px;
    }
  }

  &__items {
    display: flex;
    overflow: auto;
    &::-webkit-scrollbar {
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
      background: $bg-white;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: $bg-blue-button-cards;
      background-image: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        color-stop(0.5, rgba(255, 255, 255, 0.25)),
        color-stop(0.5, transparent),
        to(transparent)
      );
      border-radius: 10px;
    }
    @media screen and (max-width: $tablet) {
      flex-direction: column;
      gap: 48px;
    }
    gap: 70px;
  }

  &__item {
    flex-shrink: 0;
  }

  &__title {
    font-size: 20px;
    line-height: 125%;
    letter-spacing: -0.5px;
    opacity: 0.7;
    color: $text-white;
    text-transform: uppercase;

    @media screen and (max-width: $tablet) {
      text-align: center;
      font-size: 26px;
      font-family: 'Neue Machina';
      line-height: 137.5%;
      letter-spacing: -0.65px;
      text-transform: uppercase;
    }
  }
}
