.design {
	padding-top: 448px;
	@media screen and (max-width: $tablet) {
		padding-top: 425px;
	}
	&__container {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		align-items: center;
		gap: 72px;
	}

	&__title {
		max-width: 590px;
	}

	&__text {
		max-width: 564px;
	}
}
