.design {
  padding-top: 300px;
  &__container {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__info {
    max-width: 600px;
  }

  &__overTitle {
  }

  &__title {
    max-width: 440px;
  }

  &__text {
    max-width: 461px;
  }
}
.gradient-text {
}
