.design {
  padding-top: 690px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__info {
    max-width: 600px;
  }

  &__overTitle {
  }

  &__title {
    max-width: 440px;
  }

  &__text {
    max-width: 461px;
  }
}
.gradient-text {
}
