.experience {
  padding-top: 240px;
  @media screen and (max-width: $tablet) {
    padding-top: 180px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    @media screen and (max-width: $tablet) {
      gap: 20px;
    }
  }

  &__title {
    max-width: 390px;
    text-align: center;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.8px;
    text-transform: uppercase;
  }

  &__text {
    max-width: 600px;
    color: $text-white;
    opacity: 0.7;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 72px;
    @media screen and (max-width: $tablet) {
      margin-top: 64px;
      gap: 48px;
    }
  }

  &__item {
    position: relative;
    width: 250px;

    font-size: 20px;
    font-family: 'Neue Machina';
    font-weight: 400;
    line-height: 125%;
    letter-spacing: -0.5px;
    @media screen and (max-width: $tablet) {
      padding-left: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      left: -15px;
      top: 10px;
      width: 1px;
      height: 35px;
      background: $bg-white;
      @media screen and (max-width: $tablet) {
        left: 0;
      }
    }
  }
}
