.experience {
  padding-top: 220px;
  &__container {
    max-width: 950px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &__title {
    max-width: 390px;
    text-align: center;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    color: $light;
  }

  &__text {
    color: $light;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 72px;
  }

  &__item {
    position: relative;
    width: 250px;

    font-size: 20px;
    font-family: PP Neue Machina;
    line-height: 125%;
    letter-spacing: -0.5px;
    color: $light;
    opacity: 0.8;

    &::before {
      content: '';
      position: absolute;
      left: -15px;
      top: 10px;
      width: 1px;
      height: 35px;
      background-color: $light;
      opacity: 0.8;
    }
  }
}
.step-overtitle {
}
