// header
.header {
	position: fixed;
	transition: background-color 0.2s linear;
	&.scrolled {
		background: linear-gradient(180deg, #000115 0%, rgba(0, 1, 21, 0) 100%);
	}
	left: 0;
	right: 0;
	top: 0;
	padding-top: 18px;
	padding-bottom: 18px;
	z-index: 2;

	&__logo {
		position: relative;
		flex-shrink: 0;
		display: block;
		z-index: 11;
		width: 108px;
		height: 29px;
	}

	&__container {
		display: flex;
		align-items: center;
		max-width: 1400px;
		padding: 0 20px;
		@media screen and (max-width: $tablet) {
			justify-content: space-between;
		}
	}

	&__navigation {
		display: flex;
		align-items: center;
		width: 100%;

		&.active {
			transform: translateY(0);
		}

		@media screen and (max-width: $tablet) {
			position: fixed;

			right: 0;
			top: 0;
			bottom: 0;
			z-index: 10;

			flex-direction: column;
			gap: 30px;

			min-width: 100%;

			padding-top: 140px;

			transform: translateY(-100%);
			transition: transform 0.6s ease-in-out;

			border-radius: 5px 0 0 5px;
			background: $bg-navy-blue;
		}
	}

	&__nav {
		margin-left: auto;
		@media screen and (max-width: $tablet) {
			margin-left: 0;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 10px 12px;
		color: $text-white;
		border-radius: 8px;
		background-color: $bg-white;
		opacity: 0.8;
		transition: opacity 0.2s ease-in-out;
		@include hover {
			opacity: 1;
		}
		svg {
			fill: #adacac;
			width: 14px;
			height: 16px;
		}
	}
}
.nav {
	&__list {
		display: flex;
		align-items: center;
		gap: 32px;

		@media screen and (max-width: $tablet) {
			flex-direction: column;
			gap: 20px;
		}
	}

	&__link {
		position: relative;

		color: $text-white;
		font-weight: 500;
		line-height: 125%;
		opacity: 0.7;

		transition: opacity 0.2s ease-in-out;
		@include hover {
			opacity: 1;
		}
	}
}

// DROPDOWN

.dropdown {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;

	cursor: pointer;
	user-select: none;
	white-space: nowrap;
	border-radius: 2px;
	transition:
		opacity 0.3s ease-in-out,
		color 0.3s ease-in-out;

	svg {
		transition: transform 150ms linear;
	}

	@include hover {
		color: $dark;
		opacity: 1;
	}

	&__wrapper {
	}

	@media screen and (max-width: $tablet) {
		display: flex;
		flex-direction: column;
	}

	&.active {
		svg {
			transform: rotate(-90deg);
		}

		.sub-menu {
			opacity: 1;
			user-select: auto;
			transform: scale(1);
			visibility: visible;

			&::before {
				content: '';
				position: absolute;
				height: 20px;
				width: 100%;
				background-color: transparent;
				top: -20px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

.sub-menu {
	position: absolute;
	top: 35px;
	left: 50%;
	translate: -50% 0;
	min-width: 40px;
	z-index: 2;
	@media screen and (max-width: $tablet) {
		display: flex;
		flex-direction: column;
		gap: 15px;
		position: relative;
		opacity: 1;
		visibility: visible;
		transform: scale(1);
		max-height: 0;
		overflow: hidden;
		user-select: auto;
		top: 0;
		background-color: rgba(255, 255, 255, 0.7);
		box-shadow: none;
		border-radius: 0;
		width: max-content;
		border-radius: 5px;
	}

	transform: scale(0);
	opacity: 0;
	user-select: none;
	visibility: hidden;
	transition: 0.2s ease-in-out all;

	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

	&__link {
		display: block;
		padding: 5px;

		color: $dark;

		&:active {
			color: $dark;
		}
	}
}

.play-icon {
	width: 7px;
	height: 9px;
	fill: #fff;
}
