// header
.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 18px;
  z-index: 3;

  &__container {
    display: flex;
    align-items: center;

    @media screen and (max-width: $medium) {
      justify-content: space-between;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    width: 100%;

    &.active {
      transform: translateY(0);
    }

    @media screen and (max-width: $medium) {
      position: fixed;

      right: 0;
      top: 0;
      bottom: 0;
      z-index: 10;

      flex-direction: column;
      gap: 30px;

      min-width: 100%;

      padding: 50px 0;

      transform: translateY(-100%);
      transition: transform 0.6s ease-in-out;

      border-radius: 5px 0 0 5px;
      background-color: $light;
    }
  }

  &__nav {
    margin-left: auto;
    @media screen and (max-width: $medium) {
      margin-left: 0;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    color: $light;

    border-radius: 8px;
    background: rgba(255, 255, 255, 0.06);
  }
}
.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 32px;

    @media screen and (max-width: $medium) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__link {
    font-weight: 500;
    position: relative;

    color: $light;
    font-weight: 500;
    line-height: 125%;
    opacity: 0.7;

    transition: opacity 0.2s ease-in-out;

    @media screen and (max-width: $medium) {
      color: $dark;
    }

    @include hover {
      opacity: 1;
    }
  }
}
