.hero {
  padding-top: 220px;
  padding-bottom: 435px;
  &__container {
    margin: 0 auto;
    max-width: 750px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 24px;
    font-family: 'Neue Machina';
    font-weight: 400;
    text-align: center;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -1.2px;
    color: $light;
  }

  &__text {
    max-width: 650px;
    margin-bottom: 40px;

    color: $light;
    text-align: center;
    font-size: 18px;
    line-height: 137.5%;
    opacity: 0.8;
  }
}
