.hero {
  position: relative;
  padding-top: 220px;
  @media screen and (max-width: $tablet) {
    padding-top: 140px;
  }
  &::before {
    content: '';
    position: absolute;
    left: 130px;
    top: 230px;
    z-index: -1;
    width: 350px;
    height: 350px;
    background: $bg-blend-purple;
    opacity: 0.1;
    filter: blur(105px);
    border-radius: 50%;
  }
  &::after {
    content: '';
    position: absolute;
    left: 480px;
    top: 100px;
    z-index: -1;
    width: 300px;
    height: 300px;
    background: $bg-blend-green;
    opacity: 0.09;
    filter: blur(105px);
    border-radius: 50%;
  }

  @media screen and (max-width: $tablet) {
    &::before,
    &::after {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    max-width: 720px;
    margin-bottom: 24px;
    font-family: 'Neue Machina';
    font-weight: 400;
    text-align: center;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -1.2px;

    @media screen and (max-width: $tablet) {
      margin-bottom: 32px;
      font-size: 35px;
      letter-spacing: -0.8px;
    }
  }

  &__text {
    max-width: 650px;
    margin-bottom: 40px;

    @media screen and (max-width: $tablet) {
      margin-bottom: 32px;
      font-size: 16px;
    }

    color: $text-white;
    text-align: center;
    font-size: 18px;
    line-height: 137.5%;
    opacity: 0.8;
  }
}
