.hero {
  padding-top: 220px;
  &__container {
    margin: 0 auto;
    max-width: 740px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 24px;

    text-align: center;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -1.2px;
    color: $light;
  }

  &__text {
    max-width: 650px;
    margin-bottom: 40px;

    color: $light;
    text-align: center;
    font-size: 18px;
    line-height: 137.5%;
    opacity: 0.8;
  }

  &__btn {
    padding: 20px 48px;

    color: $light;
    border-radius: 12px;
    opacity: 0.8;
    background: $bg-blue-button-cards;
    box-shadow: 0px 0px 56px 0px rgba(107, 210, 164, 0.24);
    transition: opacity 0.2s ease-in-out;

    @include hover {
      opacity: 0.9;
    }

    &:active {
      scale: 0.97;
    }
  }
}
