// Section
.make {
  position: relative;
  padding-top: 165px;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 32, 0),
      100%,
      rgba(54, 251, 209, 0.71) 130%
    );
    height: 340px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    max-width: 550px;
    text-align: center;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -1.2px;
    text-transform: uppercase;
    color: $text-white;
  }
}
