.risk {
  padding-top: 345px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    max-width: 460px;
  }

  &__text {
    max-width: 630px;
  }
}
