.services {
  padding-top: 320px;
  @media screen and (max-width: $tablet) {
    padding-top: 550px;
  }
  &__container {
    max-width: 620px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 24px;
    @media screen and (max-width: $tablet) {
      margin-bottom: 20px;
    }
    text-align: center;
    font-family: 'Neue Machina';

    line-height: 100%;
    font-weight: 400;

    opacity: 0.7;
  }

  &__text {
    text-align: center;
    font-size: 32px;
    font-family: 'Neue Machina';
    font-weight: 400;
    line-height: 125%;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    @media screen and (max-width: $tablet) {
      font-size: 26px;
      line-height: 137.5%;
      letter-spacing: -0.65px;
    }
  }

  &__cards {
    margin-top: 64px;
    @media screen and (max-width: $tablet) {
      margin-top: 48px;
      justify-content: center;
    }
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.card {
  display: grid;
  place-items: center;
  max-width: 300px;
  background: $bg-blue-button-cards;
  padding: 56px 20px;
  transition: box-shadow 0.2s ease-in-out;
  border-radius: 16px;

  @include hover {
    box-shadow: 0px 0px 86px 0px rgba(107, 210, 164, 0.4);
  }

  &__text {
    text-align: center;
    font-size: 18px;
    line-height: 137.5%;
    @media screen and (max-width: $tablet) {
      font-size: 16px;
    }

    opacity: 0.9;
    color: $text-white;
  }
}
