.special {
  padding-top: 328px;
  &__container {
    position: relative;
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__model {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  &__title {
    max-width: 530px;
    margin-bottom: 24px;
    font-size: 32px;
    font-family: PP Neue Machina;
    line-height: 125%;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    color: $light;
    opacity: 0.8;
  }

  &__text {
    max-width: 440px;
    font-size: 18px;
    line-height: 150%;
    color: $light;
    opacity: 0.9;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
