.special {
  padding-top: 328px;
  &__container {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__title {
    max-width: 530px;
    margin-bottom: 24px;
    font-size: 32px;
    font-family: PP Neue Machina;
    line-height: 125%;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    color: $light;
    opacity: 0.8;
    span {
      background: linear-gradient(#9a07d5, #08e2ac);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__text {
    max-width: 440px;
    font-size: 18px;
    line-height: 150%;
    color: $light;
    opacity: 0.9;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
