.study {
  padding-top: 330px;

  &__overTitle {
    margin-bottom: 24px;
    @media screen and (max-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 24px;
    @media screen and (max-width: $tablet) {
      margin-bottom: 20px;
    }
    max-width: 456px;
  }

  &__text {
    max-width: 530px;
  }
}
