.study {
  &__container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  &__graphick {
    position: absolute;
    right: -200px;
    top: -200px;
  }

  &__title {
    max-width: 456px;
  }

  &__text {
    max-width: 530px;
  }
}
