.work {
  position: relative;
  padding-top: 340px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__model {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &__title {
    max-width: 500px;
    color: $light;
    text-align: center;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.8px;
    text-transform: uppercase;
  }

  &__text {
    color: $light;
    text-align: center;
    max-width: 580px;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.7;
  }

  &__subtext {
    margin-bottom: 56px;
    color: $light;
    opacity: 0.7;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
  }

  &__items {
    max-width: 540px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 48px;
  }

  &__item {
    img {
      width: 56px;
      height: 56px;
      object-fit: cover;
    }
  }
}
.libraries {
  &__item {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__name {
    color: $light;
  }
}
