.founder {
  padding-top: 435px;
  @media screen and (max-width: $tablet) {
    padding-top: 180px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__info {
    max-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
    @media screen and (max-width: $tablet) {
      margin-bottom: 64px;
    }
  }

  &__img-circle {
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;

    width: 112px;
    height: 112px;
    padding: 16px;

    border-radius: 50%;
    border: 1px solid $bg-white;
    background: rgba(255, 255, 255, 0.02);
  }

  &__img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-position: center;
  }

  &__name {
    margin-bottom: 4px;

    text-align: center;
    font-size: 20px;
    font-family: 'Neue Machina';
    font-weight: 400;
    line-height: 125%;
    letter-spacing: -0.5px;

    opacity: 0.8;
  }

  &__role {
    text-align: center;
    /* H_4 */
    font-size: 16px;
    font-family: 'Neue Machina';
    font-weight: 400;
    line-height: 100%;

    color: $text-white;
    opacity: 0.6;
  }

  &__text {
    margin-top: 48px;

    text-align: center;
    font-size: 18px;
    @media screen and (max-width: $tablet) {
      margin-top: 32px;
      font-size: 16px;
      line-height: 137.5%;
    }
    line-height: 150%;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: $tablet) {
      gap: 48px;
    }
  }

  &__item {
    flex: 0 1 240px;
    @media screen and (max-width: $tablet) {
      padding-left: 20px;
    }
  }

  &__step {
    position: relative;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;

    font-size: 20px;
    font-family: 'Neue Machina';
    font-weight: 400;
    line-height: 125%;
    letter-spacing: -0.5px;
    opacity: 0.86;
    color: $text-white;

    @media screen and (max-width: $tablet) {
      margin-bottom: 16px;
    }
    &::before {
      content: '';
      position: absolute;
      left: -20px;
      top: 6px;
      width: 1px;
      height: 35px;
      border-radius: 4px;
      background: $bg-white;
    }
  }

  &__stepInfo {
    color: $text-white;
    opacity: 0.6;
    font-size: 18px;
    line-height: 125%;
    @media screen and (max-width: $tablet) {
      opacity: 0.8;
      font-size: 16px;
      line-height: 137.5%;
    }
  }
}
