.founder {
  padding-top: 435px;
  &__container {
    max-width: 942px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__info {
    max-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }

  &__img-circle {
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;

    width: 112px;
    height: 112px;
    padding: 16px;

    border-radius: 50%;
    border: 1px solid $bg-white;
    background: rgba(255, 255, 255, 0.02);
  }

  &__img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-position: center;
  }

  &__name {
    margin-bottom: 4px;

    text-align: center;
    font-size: 20px;
    font-family: 'PP Neue Machina';
    font-weight: 400;
    line-height: 125%;
    letter-spacing: -0.5px;

    color: $light;
    opacity: 0.8;
  }

  &__role {
    text-align: center;
    /* H_4 */
    font-size: 16px;
    font-family: 'PP Neue Machina';
    font-weight: 400;
    line-height: 100%;

    color: $light;
    opacity: 0.6;
  }

  &__text {
    margin-top: 48px;

    text-align: center;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.8;
    color: $light;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 1 240px;
  }

  &__step {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 35px;
      background-color: $light;
      opacity: 0.6;
    }

    font-size: 20px;
    font-family: PP Neue Machina;
    line-height: 125%;
    letter-spacing: -0.5px;
    opacity: 0.86;
    color: $light;
  }

  &__stepInfo {
    color: $light;
    opacity: 0.6;
    font-size: 18px;
    line-height: 125%;
  }
}
