@font-face {
  src: url('../fonts/PPNeueMachina-InktrapRegular.woff2') format('woff2');

  font-family: 'Neue Machina';
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url('../fonts/Inter-Regular.woff2') format('woff2');

  font-family: 'Inter';
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url('../fonts/Inter-Medium.woff2') format('woff2');

  font-family: 'Inter';
  font-weight: 500;
  font-display: swap;
}
